.DS_Store
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*.pdf
!assets/*.pdf
resume.pdf
overleaf_required/
overleaf_required.zip
fonts/
fontawesome.sty
fontawesomesymbols-*.tex
zh_CN-Adobefonts_*.sty
linespacing_fix.sty
resume.cls
resume.tex
Makefile
/nry.png
/ruc.png
